.homeBody{
  background: #a09f9f8c;
  display: grid;
  grid-template-columns: 60% 40%;
}

.homeBody .infoContainer{
  background: #0000009e;
}

.displayImageContainer{
   object-fit: contain;
}

.displayImageContainer img{
  width: 40vw;
  height: 90%;
  margin: 2.15% auto;
}
.infoContainer-content{
  width: 60%;
  height: 60vh;
  margin: 20vh 35%;
  display: grid;
  grid-template-rows: 20vh 40vh;
}

.infoContainer--title{
  font-family: DMMono-Regular;
  color: #fff;
}

.infoContainer--subtle{
  font-family: DMMono-LightItalic;
  color: #fff;
  text-align: right;
}

.infoContainer-content--menu{
  color: #fff;
  text-align: right;
  font-family: DMMono-Light;
}


.infoContainer-content--menu .menu-item{
  margin-bottom: .5vw;
  cursor: pointer;
} 

.infoContainer-content--menu .menu-item:hover{
    text-decoration: underline;
  }