<div class="homeBody">
  <div class="infoContainer">
    <div class="infoContainer-content">
      <div class="infoContainer-content--data">
        <div class="text--Extralarge infoContainer--title">Natane Oliveira</div>
        <div class="text--medium infoContainer--subtle">Desenvolvedora Front-End e Web Designer</div>
      </div>
      <div class="infoContainer-content--menu">
        <div class="text--medium menu-item">ITEM >></div>
        <div class="text--medium menu-item">ITEM >></div>
        <div class="text--medium menu-item">ITEM >></div>
        <div class="text--medium menu-item">ITEM >></div>
        <div class="text--medium menu-item">ITEM >></div>
        <div class="text--medium menu-item">ITEM >></div>
      </div>
    </div>
  </div>
  <div class="displayImageContainer">
    <%= image_tag("home.png")%>
  </div>
</div>
