body{
  margin: 0;
  padding: 0;
}

.text--Extralarge{
  font-size: 4vw;
}

.text--large{
  font-size: 3vw;
}

.text--medium{
  font-size: 1.5vw;
}

.errorBody{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000eD;
  display: none;
}
.errorMessage{
    margin: 35vh auto;
    padding: 5vw;
    box-sizing: border-box;
    width: 65vw;
    height: 30vh;
    background: #fff;
    
}


@media screen and (orientation: portrait) {
  .errorBody {
        display: block!important;
        overflow: hidden;
    }
}