@font-face {
  font-family: "DMMono-Regular";
  src: url("DMMono-Regular-69bc89935e923f33300a1fbe51c215a604bb4d7845d40f36080b4758dd43318e.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMono-Italic";
  src: url("DMMono-Italic-2726224165ccbfced44a785f928792d91763664c3f325743ebdccfee8ee49630.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMono-Medium";
  src: url("DMMono-Medium-3ae8728e6c55890b654abd1cc4de57d06a9f784b82b7462ea8f224605f1c1da5.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMono-MediumItalic";
  src: url("DMMono-MediumItalic-07a4e80f75dd0a6c44c5c43047001d2ce7ede394d76322f1424fda12677dc632.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMono-Light";
  src: url("DMMono-Light-92135568e3a3ca576741ff4fd92c4e4edc53d752370ad76c3186ff32845464cf.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMono-LightItalic";
  src: url("DMMono-LightItalic-042e46ae907275419a3a0ec65b20c34222c37f1db6942f71d8bef7d68d40e266.ttf");
  font-weight: normal;
  font-style: normal;
}


