<!DOCTYPE html>
<html>
  <head>
    <title>Natane Oliveira</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="errorBody">
      <div class="errorMessage text-large">Para melhor exibição desse site, solicitamos que você utilize seu celular no modo paisagem.</div>
    </div>
    <%= yield %>
  </body>
</html>
